/*------------------------LOGO------------------------*/

.header {
  display: flex;
  align-items: center;
  width: 99%;
  margin: 0 0.5%;
  padding: 0 0.5%;
  height: 5%;
  box-sizing: border-box;

  .logo-wrap {
    display: flex;
    align-items: center;
    width: 10%;
    height: 80%;

    img {
      width: 20%;
      height: 100%;
      object-fit: cover;
      margin-right: 0.5rem;
    }
  }

  .export-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
    height: 100%;
    margin-left: auto;

    .export {
      border-radius: 8px;
      width: 100%;
      border: none;
      background-color: #4ac1f7;
      padding: 0.5rem;
      color: var(--white-color);
      font-size: var(--small-font-size);
      text-align: center;
    }
  }

  .profile-user, .login-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3%;
    height: auto;
    margin-left: 1rem;

    img {
      width: 80%;
      height: 70%;
      border-radius: 50%;
      margin-right: 0.5rem;
    }
  }

  .login-btn {
    width: 10%;
    margin-left: 1rem;

    .btn-login-link {
      border-radius: 8px;
      width: 100%;
      border: 1px solid var(--white-color);
      background-color: transparent;
      padding: 0.5rem;
      text-decoration: none;
      color: var(--white-color);
      font-size: var(--small-font-size);
      text-align: center;
      justify-content: center;
    }
  }
}


.adjustment-effect-wrapper {
  position: relative;
  display: inline-flex;
  width: 99%;
  margin: 0 .5%;
  height: 50%;
}

/*------------------------Effect------------------------*/

.effect-wrapper {
  width: 44%;
  height: 96%;
  margin-top: .5%;
  border-radius: 10px;
  background-color: var(--background-color);

  .effect-nav {
    width: 100%;
    height: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--nav-color);

    .effect-nav-type {
      display: inline-flex;
      width: 100%;
      height: 100%;
      border-bottom: .5px solid var(--white-color);
    }
  }

  .effect-list-option-wrapper {
    display: inline-flex;
    width: 100%;
    height: 100%;
  }

  .effect-list-option {
    display: inline-flex;
    width: 20%;
    height: 88%;
    border-right: .5px solid var(--black-color);
    background-color: var(--edit-frame);

    .effect-type-option {
      width: 100%;
      height: 100%;
      min-width: 80%;
      text-align: center;
      scrollbar-width: thin;
      scrollbar-color: var(--nav-frame) var(--thumb-color);
      overflow-y: hidden;

      .css-dip3t8 {
        background-color: var(--edit-frame);
      }

      .dropdown {
        width: 100%;
        height: 90%;

        .css-ewdv3l {
          .btn-dropdown {
            border: none;
            width: 70%;
            height: 12%;
            padding: 5px;
            color: var(--white-color);
            font-size: var(--small-font-size);
            text-overflow: ellipsis;
            overflow: hidden;
            text-align: start;
            white-space: nowrap;
            background-color: var(--effect-frame);
            border-radius: 5px;
            margin-top: .5rem;
            margin-left: .5rem;

            .ps-menu-button {
              height: 100%;
              padding: 0;
            }

            .dropdown-item {
              height: 2rem;
              border-radius: 5px;
              margin-top: .5rem;

              .ps-menu-button {
                width: 100%;
                text-align: start;
              }
            }

            .dropdown-item:hover {
              background-color: var(--nav-color);
              border: 1px solid var(--white-color);
            }

            .ps-menu-button:hover {
              background-color: transparent;
            }

            .css-18unl23 {
              background-color: transparent;

              .css-ewdv3l {
                background-color: var(--effect-frame);
              }
            }
          }

          .btn-dropdown:hover {
            background-color: var(--nav-color);
            border: 1px solid var(--white-color);
          }

          .active {
            background-color: rgba(71, 71, 71, 1);
            color: var(--active-color);
          }

          .ps-open:hover {
            background-color: var(--effect-frame);
            border: none;
          }
        }
      }
    }
  }

  .effect-list-type {
    display: inline-flex;
    width: 80%;
    height: 88%;
    flex-direction: column;
    border-bottom-right-radius: 5px;

    .search-effect {
      display: inline-flex;
      width: 90%;
      height: 8%;
      margin-left: 5%;
      background-color: var(--black-color);
      border-radius: 3px;
      margin-top: .5rem;
      align-items: center;

      svg {
        height: 60%;
        color: var(--text-frame);
        margin-left: 1%;
      }

      .search-input {
        width: 91%;
        height: 100%;
        background-color: transparent;
        border: none;
        color: var(--text-frame);

        &:focus {
          outline: none;
        }
      }
    }

    .import-sort-video {
      display: inline-flex;
      width: 90%;
      height: 8%;
      margin-left: 5%;
      margin-top: 2%;

      .import-video {
        display: inline-flex;
        background-color: transparent;
        width: 20%;
        padding: 6px;
        color: var(--white-color);
        justify-content: center;
        align-items: center;
        text-align: center;
        border: 1px dotted var(--text-frame);
        border-radius: 3px;
        font-size: var(--small-font-size);

        svg {
          height: 100%;
          margin-right: 6%;
          color: #3875d7;
        }

        &:hover {
          background-color: var(--effect-frame);
        }
      }

      .sort-video {
        display: inline-flex;
        margin-left: auto;
        width: 45%;
        height: 100%;
        color: var(--white-color);
        border-radius: 3px;
        font-size: var(--smaller-font-size);

        .sort-icon {
          display: inline-flex;
          width: 30%;
          height: 100%;
          margin-right: 5%;
          border: 1px solid var(--text-frame);
          justify-content: center;
          align-items: center;
          text-align: center;
          border-radius: 2px;
          background-color: var(--effect-frame);

          svg {
            width: 40%;
          }
        }
      }
    }

    .effect-option {
      display: inline-flex;
      width: 90%;
      height: 73%;
      margin-left: 5%;
      margin-top: 2%;
      flex-direction: column;

      h3 {
        display: flex;
        width: 100%;
        height: 10%;
        color: var(--white-color);
        font-size: var(--normal-font-size);
        text-transform: capitalize;
      }

      /*------------------------Import Effect------------------------*/
      .list-import-file-wrapper {
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-import-file {
          display: grid;
          width: 100%;
          height: 50%;
          gap: 5%;
          grid-template-columns: 30% 30% 30%;

          .import-file {
            width: 100%;
            height: 80%;
            flex-direction: column;

            .file {
              width: 100%;
              height: 90%;
              border-radius: 4px;
              position: relative;

              img {
                border-radius: 4px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              video {
                border-radius: 4px;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }

              .file-time,
              .file-add {
                position: absolute;
                background-color: rgba(0, 0, 0, 0.7);
                color: #fff;
                padding: 2px 5px;
                border-radius: 3px;
                font-size: 12px;
              }

              .file-time {
                top: 5px;
                right: 5px;
              }

              .file-add {
                top: 5px;
                left: 5px;
              }
            }

            .file-name {
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              color: var(--white-color);
              font-size: var(--small-font-size);
            }
          }
        }
      }

      /*------------------------Audio Effect------------------------*/
      .list-audio-file-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-audio-file {
          width: 100%;
          height: 100%;
          flex-direction: column;

          .audio-file {
            display: inline-flex;
            width: 100%;
            height: 16%;
            margin-bottom: 3%;
            border-radius: 5px;
            background-color: var(--black-color);
            flex-direction: column;

            .file {
              display: grid;
              width: 100%;
              height: 100%;
              grid-template-columns: 8% 70% 20%;

              .file-image {
                img {
                  width: 100%;
                  object-fit: cover;
                  padding: 5px;
                }
              }

              .file-information {
                display: inline-flex;
                width: 80%;
                height: 100%;
                padding: 3px;
                flex-wrap: wrap;
                font-size: var(--smaller-font-size);
                color: var(--text-frame);
                justify-content: center;
                align-items: center;

                .file-name {
                  display: flex;
                  font-size: var(--normal-font-size);
                  color: RGBA(220, 220, 220, 1);
                  width: 100%;
                  height: 50%;
                }

                .file-artist {
                  display: flex;
                  width: 20%;
                  height: 50%;
                }

                .file-time {
                  display: flex;
                  width: 80%;
                  height: 50%;
                }
              }

              .favorite-file {
                display: flex;
                width: 100%;
                height: 90%;
                color: var(--white-color);
                align-items: center;
                justify-content: end;

                label {
                  display: flex;
                  background-color: var(--text-frame);
                  width: 18%;
                  height: 40%;
                  border-radius: 1rem;
                  align-items: center;
                  justify-content: center;
                  margin-right: 10px;

                  input {
                    display: none;
                  }

                  svg {
                    width: 60%;
                  }
                }

                .add-file {
                  display: inline-flex;
                  background-color: var(--effect-frame);
                  width: 60%;
                  height: 50%;
                  align-items: center;
                  justify-content: center;
                  text-align: center;
                  border-radius: 1rem;
                  padding: 1px;
                  margin-right: 5px;
                  font-size: var(--smaller-font-size);
                }
              }
            }

            .file-progress-wrapper {
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              margin-left: 3%;
              margin-right: 3%;

              .file-progress-bar {
                width: 100%;
                height: 10%;
                background-color: var(--effect-frame);
                border-radius: 1rem;

                .progress-bar-fill {
                  height: 100%;
                  width: 100%;
                  border-radius: 1rem;
                  background-color: var(--btn-frame);
                }
              }
            }
          }
        }
      }

      /*------------------------Text Effect------------------------*/
      .list-text-file-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-text-file {
          display: grid;
          width: 100%;
          height: 100%;
          gap: 5%;
          grid-template-columns: 30% 30% 30%;

          .text-file {
            display: inline-flex;
            position: relative;
            background-color: var(--black-color);
            color: var(--white-color);
            width: 100%;
            height: 100px;
            border-radius: 10px;
            align-items: center;
            justify-content: center;

            .file {
              display: flex;
              position: relative;
              color: var(--white-color);
              width: 100%;
              height: 100%;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              .draggable-text {
                font-size: 24px;
                color: #333;
                background-color: rgba(255, 255, 255, 0.7);
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                cursor: move;
                user-select: none;
              }

              svg {
                position: absolute;
                top: 75%;
                left: 80%;
                width: 15%;
                height: 15%;
                display: none;
              }

              &:hover {
                svg {
                  display: inline-flex;
                }
              }

              img {
                width: 80%;
                height: 50%;
                object-fit: cover;
              }
            }
          }
        }
      }

      /*------------------------Sticker Effect------------------------*/
      .list-sticker-file-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-sticker-file {
          display: grid;
          width: 100%;
          height: 100%;
          gap: 5%;
          grid-template-columns: 21.25% 21.25% 21.25% 21.25%;

          .sticker-file {
            width: 100%;
            height: 80px;
            border-radius: 5px;
            background-color: var(--thumb-color);
            flex-direction: column;

            .file {
              display: flex;
              position: relative;
              color: var(--white-color);
              width: 100%;
              height: 100%;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              svg {
                position: absolute;
                top: 75%;
                left: 80%;
                width: 15%;
                height: 15%;
                display: none;
              }

              &:hover {
                svg {
                  display: inline-flex;
                }
              }

              img {
                width: 80%;
                height: 50%;
                object-fit: cover;
              }
            }
          }
        }
      }

      /*------------------------Effect Effect------------------------*/
      .list-effect-file-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-effect-file {
          display: grid;
          width: 100%;
          height: 100%;
          gap: 5%;
          grid-template-columns: 21.25% 21.25% 21.25% 21.25%;

          .effect-file {
            width: 100%;
            height: 80px;
            border-radius: 5px;
            background-color: var(--thumb-color);
            flex-direction: column;

            .file {
              display: flex;
              position: relative;
              color: var(--white-color);
              width: 100%;
              height: 100%;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              svg {
                position: absolute;
                top: 75%;
                left: 80%;
                width: 15%;
                height: 15%;
                display: none;
              }

              &:hover {
                svg {
                  display: inline-flex;
                }
              }

              img {
                width: 80%;
                height: 50%;
                object-fit: cover;
              }
            }
          }
        }
      }

      /*------------------------Filter Effect------------------------*/
      .list-filter-file-wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        max-height: 100%;
        scrollbar-width: thin;
        scrollbar-color: var(--nav-frame) var(--thumb-color);

        .list-filter-file {
          display: grid;
          width: 100%;
          height: 100%;
          gap: 5%;
          grid-template-columns: 21.25% 21.25% 21.25% 21.25%;

          .filter-file {
            width: 100%;
            height: 80px;
            border-radius: 5px;
            background-color: var(--thumb-color);
            flex-direction: column;

            .file {
              display: flex;
              position: relative;
              color: var(--white-color);
              width: 100%;
              height: 100%;
              border-radius: 10px;
              align-items: center;
              justify-content: center;

              svg {
                position: absolute;
                top: 75%;
                left: 80%;
                width: 15%;
                height: 15%;
                display: none;
              }

              &:hover {
                svg {
                  display: inline-flex;
                }
              }

              img {
                width: 80%;
                height: 50%;
                object-fit: cover;
              }
            }
          }
        }
      }
    }
  }

  .effect-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5px 10px;
    color: var(--white-color);
    flex-direction: column;

    .effect-icon {
      svg {
        width: 80%;
      }
    }

    .effect-btn {
      display: flex;
      border: none;
      background-color: transparent;
      color: var(--white-color);
      font-size: var(--small-font-size);
    }
  }
}

/*------------------------Player------------------------*/

.player-wrapper {
  width: 30%;
  height: 96%;
  margin: .5% .5%;
  border-radius: 10px;
  background-color: var(--background-color);

  .player-nav {
    display: inline-flex;
    color: var(--white-color);
    width: 100%;
    height: 12%;
    border-bottom: .5px solid var(--white-color);
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--nav-color);

    span {
      display: flex;
      margin-left: 2%;
    }
  }

  .player-wrap {
    display: flex;
    width: 100%;
    height: 84.5%;
    border-radius: 10px;
    flex-wrap: wrap;

    .player-show {
      width: 95%;
      height: 80%;
      margin-left: 2.5%;
      margin-top: 3%;
    }

    .player-actions {
      display: inline-flex;
      width: 95%;
      margin-left: 2.5%;
      margin-top: 5%;
      height: 70%;

      .time-play-player {
        color: aqua;
        margin-right: 2%;
      }

      .time-player {
        color: var(--white-color);
        margin-right: 2%;
      }

      .action-player {
        margin-left: 10%;

        button {
          background-color: transparent;
          border: none;
          outline: none;
          color: var(--white-color);
          height: 8%;

          svg {
            width: 100%;
            height: 100%;
          }
        }
      }

      .zoom-player {
        color: var(--white-color);
        height: 8%;
        margin-right: 2%;
        margin-left: 39%;

        svg {
          color: var(--white-color);
          width: 100%;
          height: 100%;
        }
      }

      .full-screen-player {
        color: var(--white-color);
        height: 8%;

        svg {
          color: var(--white-color);
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

/*------------------------Detail------------------------*/

.detail-wrapper {
  width: 25%;
  height: 96%;
  margin-top: .5%;
  border-radius: 10px;
  background-color: var(--background-color);

  .detail-nav {
    width: 100%;
    height: 12%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: var(--nav-color);

    .detail-nav-type {
      width: 100%;
      height: 100%;
      border-bottom: .5px solid var(--white-color);

      .detail-type {
        display: inline-flex;
        color: var(--white-color);
        width: 95%;
        height: 100%;
        align-items: center;

        .detail-wrap {
          display: inline-flex;
          width: 20%;
          height: 100%;
          align-items: center;
          justify-content: center;

          button {
            background-color: transparent;
            border: none;
            color: var(--white-color);
          }
        }
      }
    }
  }

  .detail-option {
    width: 100%;
    height: 12%;
    border: 1px solid transparent;

    .detail-option-type {
      width: 100%;
      height: 100%;
      margin-top: 2%;

      .detail-option-wrap {
        display: flex;
        width: 95%;
        margin-left: 2.5%;
        height: 100%;
        border-radius: 4px;
        background-color: var(--nav-color);

        button {
          flex: 1;
          padding: 3px;
          text-align: center;
          border-radius: 4px;
          background-color: transparent;
          border: none;
          color: var(--gray-color);
        }

        .active {
          background-color: var(--effect-frame);
          color: var(--white-color);
        }
      }

      .break-line {
        width: 95%;
        height: 6%;
        margin: 2% 0 2.5% 2.5%;
        background-color: var(--nav-color);
      }
    }
  }

  .detail-edit {
    position: relative;
    width: 100%;
    height: 75%;
    max-height: 75%;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--nav-frame) var(--thumb-color);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

    .detail-edit-wrapper {
      width: 100%;
      height: 100%;

      .detail-edit-wrap {
        width: 100%;
        height: 100%;

        // Sidebar Styling
.edit-parameters-wrap {
  .detail-edit-video {
    width: 100%;
    border: none;
    border-radius: 8px;
    margin-bottom: 1rem;

    .css-dip3t8 {
    position: relative;
    height: 100%;
    overflow-y: auto;
    z-index: 3;
    background-color: transparent;
}

    &-transform,
    &-blend,
    &-stabilize,
    &-motionBlur,
    &-canvas {
      margin-top: 1rem;
    }
  }

  .break-line {
    height: 1px;
    background-color: #ddd;
    margin: 1rem 0;
  }

  .dropdown {
    width: 100%;
    .btn-dropdown {
    width: 100%;
      font-size: 1.2rem;
      color: var(--white-color);
      cursor: pointer;
      .ps-menu-button:hover {
        background-color: var(--form-background);
}
      .css-18unl23 {
        overflow-x: hidden !important;
        overflow-y: auto !important;
      scrollbar-width: thin;
      scrollbar-color: var(--nav-frame) var(--thumb-color);
    background-color: var(--background-color);
}

      &:hover {
        background-color: var(--form-background);
      }
    }

    .slider-container {
      display: flex;
      align-items: center;
      background-color: transparent;

      .ps-menu-button {
        padding: 0;
        width: 100%;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
}
      }

      label {
        flex: 1;
        margin-right: 1rem;
        margin-left: 1rem;
    font-size: var(--text-font);
      }

      .slider {
        flex: 4;
        margin-right: 0.5rem;
      }

      .slider-value {
        width: 3rem;
        text-align: center;
      }

      span {
        width: 15%;
      }

      select {
        width: 80%;
        border-radius: 4px;
        border: 1px solid #ccc;
        cursor: pointer;
      }
    }

    .slider-buttons {
      display: inline-flex;
      flex-direction: column;

      button {
        background: none;
        border: none;
        cursor: pointer;
        svg {
          stroke: #333;
          &:hover {
            stroke: #555;
          }
        }
      }
    }

    .uniform-slider {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1rem;
      width: 100%;

      .ps-menu-button {
        padding: 0;
        width: 100%;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
}
      }
      span {
      margin-right: .5rem;
      }

      .uniform-slider-check {
        width: 20px;
        height: 20px;
        cursor: pointer;
      }
    }

    .position-video {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      margin-left: 1rem;

      .position-x,
      .position-y {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 30%;

        label {
          width: 20%;
        }

        .slider-value {
          width: 50%;
          margin-right: 5%;
        }

      }
    }

    .rotate-video {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-left: 1rem;

      label {
          width: 25%;
      margin-left: 15%;
      }

      .rotate-value {
        width: 50%;
        text-align: center;
      }
    }

    .type-video-basic-canvas{
      width: 100%;
      display: inline-flex;
      .ps-menu-button {
        padding: 0;
        width: 100%;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
}
      }
      select{
        width: 90%;
        margin-left: 5%;
      }
    }

    .video-basic-blur-option{
      display: inline-flex;
      width: 90%;
      margin-left: 5%;
      gap: 5.5%;
      .ps-menu-button {
        padding: 0;
        width: 100%;
        height: fit-content;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
          flex-wrap: wrap;
}
      }
      .blur-option-wrap{
        width: 15%;
        margin:2.5% 2.5% 0 2.5%;
      }
    }

    .video-basic-color-option{
      display: inline-flex;
      width: 90%;
      margin-left: 5%;
      .ps-menu-button {
        padding: 0;
        width: 100%;
        height: fit-content;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
          flex-wrap: wrap;
}
      }
      .color-option-wrap {
    .color-display {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      cursor: pointer;
      margin: 0.3rem;

      &:hover {
        border: 2px solid #007bff;
      }
    }
  }
    }

    .video-basic-pattern-option{
      display: inline-flex;
      width: 90%;
      margin-left: 5%;
      gap: 5.5%;
      .ps-menu-button {
        padding: 0;
        width: 100%;
        height: fit-content;
        .css-12w9als {
    display: inline-flex;
    align-items: center;
          flex-wrap: wrap;
}
      }
      .pattern-option-wrap{
        width: 15%;
        margin:2.5% 2.5% 0 2.5%;
      }
    }

  }

  .slider-opacity-buttons,
  .slider-blur-buttons,
  .slider-blend-buttons,
  .position-x-buttons,
  .position-y-buttons,
  .rotate-buttons {
    button {
      &:hover {
        svg {
          stroke: #007bff;
        }
      }
    }
  }

}

      }
    }
  }
}

/*------------------------Edit------------------------*/

.edit-wrapper {
  position: relative;
  width: 99%;
  margin: 0 .5%;
  height: 43%;
  border-radius: 10px;
  background-color: var(--background-color);
  overflow-x: scroll;
  overflow-y: auto;


.timestamps {
    position: relative;
    width: 100%;
    height: 40px;
    background-color: white;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    overflow: hidden;
}

.time-segment {
    position: absolute;
    font-size: 12px;
    color: #666; /* Adjust color to match the design */
    text-align: center;
    top: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.time-segment::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 100%;
    background-color: #ccc;
    opacity: 0.6;
}

.time-segment:nth-child(odd)::before {
    height: 60%;
}

.time-segment:nth-child(even)::before {
    height: 80%;
}


    .seek-bar {
      z-index: 3;
      position: absolute;
      left: 0;
      top: 0;
      background-color: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      height: 100%;
      overflow: hidden;
      border-radius: 9px;
      -webkit-transition: height 0.1s;
      -o-transition: height 0.1s;
      transition: height 0.1s;
      cursor: inherit;
      pointer-events: none;
    }

    .seek-bar::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1px;
      height: 20rem;
      background: red;
      cursor: pointer;
      border-radius: 5px;
      border: 1px solid #ccc;
    }

  .video-timeline {
    width: fit-content(300px);
    height: 30%;

    .timeline {
      display: inline-flex;
      width: 100%;
      height: 100%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .timeline-item {
        position: absolute;
        height: 30%;
        left: calc(var(--position, 0) * 1%);
        border-radius: 7px;

        video {
          height: 100%;
          object-fit: cover;
          border-radius: 7px;
        }

        img {
          height: 100%;
          object-fit: cover;
          border-radius: 7px;
        }
      }
    }

    .timeline-text {
      display: inline-flex;
      width: 100%;
      height: 30%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .text-segment {
        position: absolute;
        height: 8%;
        left: calc(var(--position, 0) * 1%);
          border-radius: 7px;

        .text-img {
      height: 100%;
          border-radius: 7px;
          text-align: center;
          background-color: red;
          img{
            width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
          }
        }
      }
    }

    .timeline-audio {
      display: inline-flex;
      width: 100%;
      height: 30%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .audio-segment {
        position: absolute;
        height: 8%;
        left: calc(var(--position, 0) * 1%);
          border-radius: 7px;

        .audio-img {
      height: 100%;
          border-radius: 7px;
          text-align: center;
          background-color: red;
          img{
            width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 7px;
          }
        }
      }
    }

    .timeline-sticker {
      display: inline-flex;
      width: 100%;
      height: 30%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .sticker-segment {
        position: absolute;
        height: 8%;
        left: calc(var(--position, 0) * 1%);
          border-radius: 7px;

        .sticker-img {
          height: 100%;
          border-radius: 7px;
          text-align: center;
          background-color: red;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
          }
        }
      }
    }

    .timeline-effect {
      display: inline-flex;
      width: 100%;
      height: 30%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .effect-segment {
        position: absolute;
        height: 8%;
        left: calc(var(--position, 0) * 1%);
          border-radius: 7px;

        .effect-img {
          height: 100%;
          border-radius: 7px;
          text-align: center;
          background-color: red;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
          }
        }
      }
    }

    .timeline-filter {
      display: inline-flex;
      width: 100%;
      height: 30%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);

      .filter-segment {
        position: absolute;
        height: 8%;
        left: calc(var(--position, 0) * 1%);
          border-radius: 7px;

        .filter-img {
          height: 100%;
          border-radius: 7px;
          text-align: center;
          background-color: red;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 7px;
          }
        }
      }
    }


    .empty-timeline-dropzone {
      width: 100%;
      height: 100%;
      background-color: var(--nav-color);
      border-top: 1px solid var(--gray-color);
      border-bottom: 1px solid var(--gray-color);
    }

    .empty-timeline-dropzone.drag-over {
      background-color: var(--primary-color);
    }

    .some-timeline-dropzone {
      width: 100%;
      height: 100%;
      background-color: transparent;
    }

    .some-timeline-dropzone-top.drag-over {
      border-bottom: 1px solid var(--primary-color);
    }

    .some-timeline-dropzone-bottom.drag-over {
      border-top: 1px solid var(--primary-color);
    }

    .resize-handle {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  cursor: ew-resize;
  background-color: var(--white-color);
}

.resize-handle-left {
  left: 0;
  cursor: w-resize; /* Cursor for left handle */
}

.resize-handle-right {
  right: 0;
  cursor: e-resize; /* Cursor for right handle */
}



  }

  .timestamps {
    display: flex;
    margin: 10px 0;
    padding: 5px;

    span {
      display: inline-flex;
      font-size: 14px;
      color: #333;

      p {
        margin-right: 17px;
      }

      p:nth-of-type(1) {
        margin-right: 0px;
      }

      p:nth-of-type(2) {
        margin-left: 17px;
      }
    }
  }
}

